:root{
    --color-blue: rgb(1, 157, 241);
    --color-grey: rgb(229, 237, 239);
    --color-text-grey: rgb(90, 90, 90);
    --color-line-grey: rgb(198, 198, 198);
}
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
}

/* BASE CONTAINER (GRID) */
.base-container{
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr / minmax(235px, 1fr) 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

/* SIDEBAR */
.sidebar{
    background-color: var(--color-blue);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    gap: 40px;
    grid-area: sidebar;
}
#logo{
    width: 50px;
}
img{
    width: 18px;
}
.nav-main > div,
.nav-misc > div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 12px;
    font-weight: 600;
}
.nav-main,
.nav-misc{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dashboard-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* HEADER */
.header-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: header;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 4px;
}
    /* header-top */
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 60px;
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchbar{
    width: 500px;
    background-color: var(--color-grey);
    border: none;
    border-radius: 10px;
    height: 20px;
}
.top-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-icons > img{
    width: 25px;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.profile-display{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bot-buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.bot-buttons > button{
    width: 85px;
    height: 30px;
    background-color: var(--color-blue);
    color: white;
    border: none;
    border-radius: 16px;
}

/* MAIN */
.main-container{
    background-color: var(--color-grey) ;
    grid-area: main;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: 20px;

    padding: 30px 20px;
}
    /* projects */
.projects{
    grid-area: projects;
}
.main-titles{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.card{
    border: 1px solid black;
    border: none;
    background-color: white;
    border-left: 8px solid rgb(235, 176, 0);
    border-radius: 8px;
    height: 180px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    font-size: 18px;
}
.card > p,
.block > p{
    margin: 0;
    margin-bottom: 3px;
}
.title + p{
    color: var(--color-text-grey);
    font-size: 0.9em;
}
.title{
    font-weight: 600;
}
.card-icons{
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.card-icons > img{
    width: 20px;
}


    /* announcements */
.announcements{
    grid-area: announcements;
}
.ann-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.block{
    font-size: 14px;
    padding: 12px 4px;
}
.midblock{
    border-top: 1px solid var(--color-line-grey);
    border-bottom: 1px solid var(--color-line-grey);
}


    /* trending */
.trending{
    grid-area: trending;
}
.trending > .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.account{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid red;
}
.acc-words{
    display: flex;
    flex-direction: column;
}